
  <form action="/cart" method="post" novalidate class='mycart'>
    <div class="mycart__top">
        <h3 class="mycart__title h3">My Cart</h3>
        {% render 'icon-x' %}
    </div>
    {% if cart.item_count > 0  %}
        <div class="mycart__products">
            {% for item in cart.items %}
                <div class="mycart__product">
                    <a href="{{ item.url | within: collections.all }}" class="mycart__img--wrapper">
                        <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                    </a>
                    <div class="mycart__product--details">
                        <div class="mycart__wrapper">
                            <a href="{{ item.url }}" class="mycart__product--title h5">{{ item.product.title }}</a>
                            <p class="mycart__product--price h5">{{ item.price | money }}</p>
                        </div>
                        <div class="mycart__wrapper">
                            <h5 class="mycart__product--weight h5">{{ item.variant.title }}</h5>
                            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="mycart__close--wrapper">
                                {% render 'icon-close' %}
                            </a>
                        </div>
                        <div class="mycart__calculator">
                            {% render 'icon-minus' %}
                            <span class="mycart__count p">1</span>
                            {% render 'icon-plus' %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
        <div class="mycart__bottom">
            <div class="mycart__wrapper">
                <h4 class="h4">Subtotal</h4>
                <p class="h4 subtotal">$25.00</p>
            </div>
            <div class="mycart__wrapper">
                <p class="p">Tax and shipping calculates at checkout.</p>
            </div>
            <div class="mycart__affirm">
                {% render 'icon-affirm' %}
                <p class="p">pay as low as 56/mo </p>
                <a href="#" class="p">Learn More</a>
            </div>
            {% render 'primary-button', title: 'Continue to Checkout', type:'large' %}
        </div>
    {% else %}
        <div class="mycart__empty">
            <p class="mycart__empty--title">Your Cart is Empty</p>
            {% render 'primary-button', title: 'Shop Best Sellers', type: 'large primary-button-white' %}
        </div>
    {% endif %}
  </form>

{% schema %}
    {
        "name": "Cart",
        "settings": [
            {
                "id": "cart_img",
                "type": "image_picker",
                "label": "Cart Image"
            }
        ]
    }
{% endschema %}


<script>

    const close = document.querySelector('.mycart__top svg')
    const mycart = document.querySelector('.mycart')
    close.addEventListener('click', () => {
        mycart.style.right = '-479px'
    })
    
    const calculator = document.querySelectorAll('.mycart__calculator')
    const count = document.querySelector('.mycart__count')
    const minus = document.querySelectorAll('.mycart__calculator svg')[0]
    const plus = document.querySelectorAll('.mycart__calculator svg')[1]
    let subtotal = document.querySelector('.subtotal')
    const productPrice = document.querySelector('.mycart__product--price')
    const initialPrice = productPrice.innerText
    // function total() {
    //     let sum = +count.innerText * (+productPrice.slice(1,))
    //     subtotal.innerText = `$${sum}.00`
    // }
    // total()

    // plus.addEventListener('click', () => {
    //     +count.innerText++
    //     productPrice.innerText = `$${+count.innerText * +initialPrice.slice(1,-3)}.00`
    //     // total()
    // })

    // minus.addEventListener('click', () => {
    //     if(+count.innerHTML > 1) {
    //         +count.innerText--
    //         productPrice.innerText = `${ +productPrice.innerText.slice(1,-3) / +count.innerText}`
    //         // total()
    //     }
    // })

    
</script>
