{{ 'style-collection-plp.css'  | asset_url |  stylesheet_tag}}

<style>
    .collection-plp__products {
        grid-template-columns: repeat("{{section.settings.grid_column | plus}}", 1fr);
    }
</style>

<div class="collection-plp">
    <div class="collection-plp__wrapper">
        <h3 class="collection-plp__title h3">{{ collection.title }}</h3>
        <ul class="breadcrumb">
            {% for coll in section.settings.collection_list %}
                <li class="breadcrumb-item">
                    <a href="{{coll.url}}" class="breadcrumb-item__link h5">{{coll.title}}</a>
                </li>
                <span class="slash">/</span>
            {% endfor %}
        </ul>

        <div class="collection-plp__products">
            {% for product in collection.products %}
                {% render 'product-card', product_card: product %}
            {% endfor %}
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Product List",
    "settings": [
        {
            "id": "grid_column",
            "type": "number",
            "label": "Grid Column"
        },
        {
            "id": "collection_list",
            "type": "collection_list",
            "label": "Breadcrumb Collections"
        }
    ]
}
{% endschema %}

<h1>{{ collection.title }}</h1>