{{ 'style-header.css' | asset_url | stylesheet_tag}}
<script src="{{ 'js.humburger-menu.js' | asset_url }}" defer></script>

<div class="header">
  <div class="header__nav">
    <div class="humburger-menu">
      {% if template == 'index' %}
        {% render 'icon-menu' %}
      {% else %}
        {% render 'icon-menu-black' %}
      {% endif %}
    </div>
    {% if template == 'index' %}
      <a href="#">
        <img src="{{ section.settings.header_logo.src | img_url: '240x'}}" alt="logo" class="logo">
      </a>
    {% else %}
      <a href="#">
        <img src="{{ section.settings.header_logo_black.src | img_url: '240x'}}" alt="logo" class="logo">
      </a>
    {% endif %}
    <ul class="nav__items">
      {% for link in section.settings.menu.links %}
        <li class="nav__item">
          <a class="nav__link p" href="{{ link.url }}">{{link.title | escape }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="header__icons">
      {% render 'icon-search' %}
      <a href="/account/login">
        {% render 'icon-account' %}
      </a>
      <div class="basket__counter--wrapper">
        {% render 'icon-basket' %}
        <span class="basket__counter"></span>
      </div>
    </div>
  </div>

  <div class="humburger__container">
    <div class="humburger__wrapper">
      <div class="humburger__items--wrapper">
        <div class="close-humburger-menu">
          {% render 'icon-close' %}
        </div>
        <ul class="humburger__items">
          {% for link in section.settings.menu.links %}
            <li class="nav__item">
              <a class="nav__link p" href="{{ link.url }}">{{link.title | escape }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <a href="/account/login" class="humburger__footer">
        {% render 'icon-account2' %}
        Account
      </a>
    </div>
  </div>

</div>


{% schema %}
  {
    "name": "Navigations",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }, {
        "type": "image_picker",
        "id": "header_logo",
        "label": "Logo"
      }, {
        "type": "image_picker",
        "id": "header_logo_black",
        "label": "Logo black"
      }
    ]
  }
{% endschema %}