{{ 'style-header.css' | asset_url | stylesheet_tag}}


<div class="header">
    <div class="header__nav">
            <a href="#" >
                <img src="{{ section.settings.header_logo.src | img_url: '240x'}}" alt="logo" class="logo">
            </a>

            <ul class="nav__items">
                {% for link in section.blocks %}
                    <li class="nav__item">
                        <a class="nav__link" href="#">{{link.settings.nav_link}}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="header__icons">
                {% render 'icon-search' %}
                {% render 'icon-account' %}
                {% render 'icon-basket' %}
            </div>
    </div>

    <div class="rich-text">
        <h1 class="rich-text__title">{{section.settings.richtext_title | default: 'Team barbell'}}</h1>
        <p class="rich-text__description">{{section.settings.richtext_description | default: 'Team Barbell was to design a piece of equipment that matches the performance and quality of other elite level competition bars.'}}</p>
        
        <div class="rich-text__btn">
            <div class="rich-text__btn-text">{{section.settings.richtext_btn | default: 'Expolore'}}</div>
            {% render 'icon-arrow' %}
        </div>
    </div>
</div>

<style>
    .header {
        background-image: url("{{ section.settings.hero_image | img_url: '1440x' }}");
    }
</style>

{% schema %}
{
    "name": "Homepage Hero",
    "settings": [
        {
            "type": "image_picker",
            "id": "hero_image",
            "label": "Hero Image"
        },
        {
            "type": "image_picker",
            "id": "header_logo",
            "label": "Logo"
        },
        {
            "type": "text",
            "id": "richtext_title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "richtext_description",
            "label": "Description"
        },
        {
            "type": "text",
            "id": "richtext_btn",
            "label": "Rich-text button"
        }


    ],
    "blocks": [
        {
        "name": "Nav Links",
        "type": "text",
        "settings": [
            {
                "type": "text",
                "id": "nav_link",
                "label": "Nav-Link"
            }
        ]
        }
    ]
}
{% endschema %}