{{ 'style-home-gym.css' | asset_url | stylesheet_tag }}
<script src="lazysizes.min.js" async=""></script>



<div class="gym__container">
    <div class="gym__wrapper">
        <div class="gym__img--wrapper">
            <img class="banner_img lazyload"
            src="{{ section.settings.gym_img1.src | img_url: '620x780' }}"
            data-src="{{ img_url }}"
            data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
            data-aspectratio="{{ section.settings.gym_img1.aspect_ratio }}"
            data-sizes="auto"
            data-parent-fit="cover"
            alt="{{ section.settings.gym_img1.alt | escape }}">
            <h4 class="gym__title">{{ section.settings.gym_title }}</h4>
            <a class="gym__link" href="#">{{ section.settings.gym_btn }}</a>
        </div>
        <div class="gym__img--wrapper">
            <img class="banner_img lazyload"
            src="{{ section.settings.gym_img2.src | img_url: '620x780' }}"
            data-src="{{ img_url }}"
            data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
            data-aspectratio="{{ section.settings.gym_img2.aspect_ratio }}"
            data-sizes="auto"
            data-parent-fit="cover"
            alt="{{ section.settings.gym_img2.alt | escape }}">
            <h4 class="gym__title">{{ section.settings.gym_title2 }}</h4>
            <a class="gym__link" href="#">{{ section.settings.gym_btn2 }}</a>
        </div>
    </div>
</div>



{% schema %}
{
    "name": "Gym",
    "settings": [
        {
            "id": "gym_img1",
            "type": "image_picker",
            "label": "Gym Image 1"
        },
        {
            "id": "gym_img2",
            "type": "image_picker",
            "label": "Gym Image 2"
        },
        {
            "id": "gym_title",
            "type": "text",
            "label": "Gym Title",
            "default": "Professional gym"
        },
        {
            "id": "gym_title2",
            "type": "text",
            "label": "Gym Title 2",
            "default": "Home gym"
        },
        {
            "id": "gym_btn",
            "type": "text",
            "label": "Gym Button",
            "default": "Shop Professional"
        },
        {
            "id": "gym_btn2",
            "type": "text",
            "label": "Gym Button 2",
            "default": "Shop Home"
        }
    ]
}
{% endschema %}