{{ 'style-favourites.css' | asset_url | stylesheet_tag }}
<script src="lazysizes.min.js" async=""></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>


<div class="favourites__container">
    <div class="favourites__wrapper swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="favourites__product swiper-slide">
                <h5 class="favourites__subtitle">{{ section.settings.favourites_subtitle }}</h5>
                <h4 class="favourites__title">{{ section.settings.favourites_title }}</h4>
                <p class="favourites__description">{{ section.settings.favourites_description }}</p>
                <a class="favourites__link" href="#">{{ section.settings.favourites_btn }}</a>
            </div>
            <div class="favourites__products swiper-slide">
                <div class="favourites__img--wrapper">
                    <!-- <img class="favourites_img lazyload"
                        src=""
                        data-src="{{ img_url }}"
                        data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                        data-aspectratio="{{ section.settings.favourites_img.aspect_ratio }}"
                        data-sizes="auto"
                        data-parent-fit="cover"
                        alt="{{ section.settings.favourites_img.alt | escape }}"> -->
                        <span class="favourite__shippings">Free Shipping</span>
                </div>
                <h4 class="favourites__title">Performance tee</h4>
                <div class="starts">
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                </div>
                <p class="favourites__price">$34.00</p>
            </div>
            <div class="favourites__products swiper-slide">
                <div class="favourites__img--wrapper">
                    <!-- <img class="favourites_img lazyload"
                        src=""
                        data-src="{{ img_url }}"
                        data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                        data-aspectratio="{{ section.settings.favourites_img.aspect_ratio }}"
                        data-sizes="auto"
                        data-parent-fit="cover"
                        alt="{{ section.settings.favourites_img.alt | escape }}"> -->
                        <span class="favourite__shippings">Free Shipping</span>
                </div>
                <h4 class="favourites__title">Performance tee</h4>
                <div class="starts">
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                </div>
                <p class="favourites__price">$34.00</p>
            </div>
            <div class="favourites__products swiper-slide">
                <div class="favourites__img--wrapper">
                    <!-- <img class="favourites_img lazyload"
                        src=""
                        data-src="{{ img_url }}"
                        data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                        data-aspectratio="{{ section.settings.favourites_img.aspect_ratio }}"
                        data-sizes="auto"
                        data-parent-fit="cover"
                        alt="{{ section.settings.favourites_img.alt | escape }}"> -->
                        <span class="favourite__shippings">Free Shipping</span>
                </div>
                <h4 class="favourites__title">Performance tee</h4>
                <div class="starts">
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                </div>
                <p class="favourites__price">$34.00</p>
            </div>
            <div class="favourites__products swiper-slide">
                <div class="favourites__img--wrapper">
                    <!-- <img class="favourites_img lazyload"
                        src=""
                        data-src="{{ img_url }}"
                        data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                        data-aspectratio="{{ section.settings.favourites_img.aspect_ratio }}"
                        data-sizes="auto"
                        data-parent-fit="cover"
                        alt="{{ section.settings.favourites_img.alt | escape }}"> -->
                        <span class="favourite__shippings">Free Shipping</span>
                </div>
                <h4 class="favourites__title">Performance tee</h4>
                <div class="starts">
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                </div>
                <p class="favourites__price">$34.00</p>
            </div>
            <div class="favourites__products swiper-slide">
                <div class="favourites__img--wrapper">
                    <!-- <img class="favourites_img lazyload"
                        src=""
                        data-src="{{ img_url }}"
                        data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                        data-aspectratio="{{ section.settings.favourites_img.aspect_ratio }}"
                        data-sizes="auto"
                        data-parent-fit="cover"
                        alt="{{ section.settings.favourites_img.alt | escape }}"> -->
                        <span class="favourite__shippings">Free Shipping</span>
                </div>
                <h4 class="favourites__title">Performance tee</h4>
                <div class="starts">
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                </div>
                <p class="favourites__price">$34.00</p>
            </div>
        </div>
        
    </div>
</div>



{% schema %}
{
    "name": "Favourites",
    "settings": [
        {
            "id": "favourites_subtitle",
            "type": "text",
            "label": "Favourite Subtitle",
            "default": "Best sellers"
        },
        {
            "id": "favourites_title",
            "type": "text",
            "label": "Favourite Title",
            "default": "Our favorites"
        },
        {
            "id": "favourites_description",
            "type": "text",
            "label": "Favourite Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        },
        {
            "id": "favourites_btn",
            "type": "text",
            "label": "Favourite Button",
            "default": "Shop Best seller"
        }
    ]
}
{% endschema %}


<script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 4,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
</script>