{{ 'style-pdp.css' | asset_url | stylesheet_tag }}
<script src="lazysizes.min.js" async=""></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<div class="pdp">
    <form method='post' action='/cart/add' id="form" class="pdp__container">
        <div class="pdp__image--wrapper swiper mySwiper">
            <div class="swiper-wrapper">
                {% for item in product.images %}
                <div class="swiper-slide swiper-item">
                    <img class="pdp_img lazyload"
                        src="{{ item.src | img_url: '720x900' }}"
                        data-src="{{ img_url }}"
                        data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                        data-aspectratio="{{ section.settings.pdp_img.aspect_ratio }}"
                        data-sizes="auto"
                        data-parent-fit="cover"
                        alt="{{ section.settings.pdp_img.alt | escape }}">
                </div>
                {% endfor %}             
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="pdp__details">
            <h3 class="details__title h3">{{ product.title }}</h3>
            <p class="details__price p">$4.00</p>
            <span class="stars__wrapper">
                {% render 'icon-star' %}
                {% render 'icon-star' %}
                {% render 'icon-star' %}
                {% render 'icon-star' %}
                {% render 'icon-star' %}
                <span class="p reviews">18 reviews</span>
            </span>
            <div class="affirm__wrapper">
                {% render 'icon-affirm' %}
                <span class="p reviews">pay as low as 56/mo Learn More</span>
            </div>
            <p class="details__description p">Again Faster Dumbbells offer the ability to target specific muscle groups or attain a full body workout. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p> 
            <div class="pairs">
                {% for variant in product.variants %}
                {% assign pricee = variant.price %}
                    <input value="{{ variant.id }}" class="variant-radio" type="radio" name="size" id="{{variant.title}}" checked="checked"   {% if variant.inventory_quantity==0  %} disabled {% endif %} />
                    <label onclick="badgeContainer()" data-variantPrice="{% if variant.inventory_quantity != 0 %} {{pricee}} {% endif %}" for="{{variant.title}}" class="variant {% if variant.inventory_quantity==0  %} disabled {% endif %}">{{variant.title}}</label>
                {% endfor %}
            </div>
            <p class="details__available p">Available for Free shipping!</p>
            {% render 'primary-button', title: 'Add to Cart', type: 'large addtocart' %}
            <h4 class="details__subtitle h4">Frequently bought with</h4>
            <div class="details__wrapper">
            {% assign selected_handles = product.metafields.accentuate.fbp | split: "|" %}
                {% for product in selected_handles %}
                    <div class="details__product">
                        <div class="product__image--wrapper">
                            <img class="banner_img lazyload"
                            src="{{ all_products[product].featured_image | img_url: '98x125' }}"
                            data-src="{{ img_url }}"
                            data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                            data-aspectratio="{{all_products[product].featured_image.aspect_ratio }}"
                            data-sizes="auto"
                            data-parent-fit="cover"
                            alt="{{ all_products[product].featured_image.alt | escape }}">
                        </div>
                        <div class="product__details">
                            <p class="p product__details--text">{{ all_products[product].title }}</p>
                            <button type="submit"  class="p product__details--text ">Add to Cart</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% assign banner_text = product.metafields.accentuate.banner_text %}
    {% assign banner_images = product.metafields.accentuate.banner_image %}
    {% for item in (1..banner_text.size) %}
        <div class="pdp__banner-rubber">
            <div class="banner-rubber__content">
                {% if banner_text[forloop.index0] != blank %}
                    {{ banner_text[forloop.index0] }}
                {% endif %}
            </div>

            <div class="banner-rubber__image--wrapper">
                
                    {% if banner_images[forloop.index0] != blank %}
                        <img class="banner__img lazyload"
                            src="{{  banner_images[forloop.index0][0].src }}"
                            data-src="{{ img_url }}"
                            data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                            data-aspectratio="{{ banner_images[forloop.index0][0].aspect_ratio }}"
                            data-sizes="auto"
                            data-parent-fit="cover"
                            alt="{{ banner_images[forloop.index0][0].alt | escape }}">
                    {% endif %}
                    <span class='circleb'>
                    <span class='circles'></span>
                    </span>
                    
            </div>
            <span class='banner__line line_left'></span>
            <span class='banner__line line_center'></span>
            <span class='banner__line line_right'></span>
        </div>
    {% endfor %} 

    <div class="pdp__like">
        <h3 class="pdp__like__title h3">You might also like</h3>
        <div class="pdp__like--products swiper swiperLikes">
            <div class="swiper-wrapper">
                {% assign selected_handles = product.metafields.accentuate.you_might_also_like | split: "|" %}
                {% for product in selected_handles %}
                    {% render 'product-likes-card', image: all_products[product].featured_image, title: all_products[product].title, price: all_products[product].price, product_card: all_products[product] %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "PDP",
    "settings": [
        {
            "id": "pdp_img",
            "type": "image_picker",
            "label": "Pdp Image"
        },
        {
            "id": "detail_product",
            "type": "image_picker",
            "label": "Pdp Detail Image"
        },
        {
            "id": "product_banner_image1",
            "type": "image_picker",
            "label": "Pdp Banner Image 1"
        },
        {
            "id": "product_banner_image2",
            "type": "image_picker",
            "label": "Pdp Banner Image 2"
        },
        {
            "id": "product_banner_image3",
            "type": "image_picker",
            "label": "Pdp Banner Image 3"
        },
        {
            "id": "product_likes_img",
            "type": "image_picker",
            "label": "Pdp Likes Image"
        }
    ]
}
{% endschema %}


<script>
    var swiper = new Swiper(".mySwiper", {
      direction: "vertical",
      slidesPerView: 1,
      mousewheel:true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });

    var swiperr = new Swiper(".swiperLikes", {
      direction: "horizontal",
      slidesPerView: 4,
      spaceBetween: 16,
      mousewheel:true,
      loop: true,
      pagination: {
        el: ".swiperLikes-pagination",
        clickable: true,
      },
    });

    const priceofDetails = document.querySelector('.details__price')
    let variant = document.querySelector('.variant')
    let variantPrice = variant.getAttribute('data-variantPrice')
    function badgeContainer () {
        priceofDetails.innerText = variantPrice/100
    };

    const circleb = document.querySelectorAll('.circleb')
    const circles = document.querySelectorAll('.circles')
    const bannerImg = document.querySelectorAll('.banner__img')
    circleb[0].classList.add('circle_big')
    circles[0].classList.add('circle_small')
    bannerImg[0].classList.add('banner_firstImg')


    const addToCart = document.querySelector('.addtocart')
    const variantRadio = document.querySelector('.variant-radio')
    let variant_id = document.querySelector('.variant-radio').value 
    const form = document.querySelector('#form')
    const basketCounter = document.querySelector('.basket__counter')
    
    
    form.addEventListener('submit', async(e) => {
        e.preventDefault()
        let formData = {
            'items': [{
                'id': variant_id,
                'quantity': 1
            }]
        };
        const response = await fetch(window.Shopify.routes.root + 'cart/add.js', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
            
        })
        const data = await response.json()
        basketCounter.innerText = 1
        basketCounter.style.background = 'crimson'
    })

</script>